<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Example test run" parallel="classes">
    <test name="Simple Test">
        <packages>
            <package name="com.enable.tests.addRemoveItems"/>
        </packages>
    </test>
</suite>